/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font-family);
}

.header {
  margin: 102px auto 108px;
  max-width: 696px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--themes-background-color);
  outline: 2px solid var(--themes-main-color);
  font-family: var(--additionally-font-family);
  line-height: normal;
  font-style: normal;
}

.header__title {
  font-size: 65px;
  font-weight: 400;
  margin: 136px auto 20px;
}

.header__text {
  font-size: 23px;
  font-weight: 400;
  margin-block-end: 20px;
}

.header__theme-menu {
  font-size: 14px;
  font-weight: 400;
  margin-block-end: 25px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.theme-menu__button {
  background-color: transparent;
  border: none;
}

@media screen and (max-width: 375px) {
}
