/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

.theme-dark {
  background-size: cover;
  color: var(--themes-main-color);
}

:root.theme-dark {
  --themes-main-color: #00cc14;
  --themes-background-color: #000;
  --font-weight-title: 785;
  --font-weight-content: 465;
  --image-text: ;
  --background-gradient: repeating-linear-gradient(
      90deg,
      #000 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(#000 0 2px, transparent 2px 4px),
    linear-gradient(#007f0c 0 0.01%, #004306);
}

@media (prefers-color-scheme: dark) {

  .theme-auto {
    --themes-main-color: #00cc14;
    --themes-background-color: #000;
    --font-weight-title: 785;
    --font-weight-content: 465;
    --background-gradient: repeating-linear-gradient(
        90deg,
        #000 0 2px,
        transparent 2px 4px
      ),
      repeating-linear-gradient(#000 0 2px, transparent 2px 4px),
      linear-gradient(#007f0c 0 0.01%, #004306);
    background-size: cover;
    color: var(--themes-main-color);
  }
}

.theme-light {
  background-size: cover;
  color: var(--themes-main-color);
}

:root.theme-light {
  --themes-main-color: #000;
  --themes-background-color: #fff;
  --font-weight-title: 700;
  --font-weight-content: 400;
  --background-gradient: repeating-linear-gradient(
      90deg,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(#d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(#e7e7e7 0 0.01%, #1a1a1a);
}

@media (prefers-color-scheme: light) {

  .theme-auto {
    --themes-main-color: #000;
    --themes-background-color: #fff;
    --font-weight-title: 700;
    --font-weight-content: 400;
    --background-gradient: repeating-linear-gradient(
        90deg,
        #d3d3d3 0 2px,
        transparent 2px 4px
      ),
      repeating-linear-gradient(#d3d3d3 0 2px, transparent 2px 4px),
      linear-gradient(#e7e7e7 0 0.01%, #1a1a1a);
    background-size: cover;
    color: var(--themes-main-color);
  }
}
